@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
}
.navbar-item {
  margin-right: 40px;
  margin-left: 40px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}
.navbar-contacts {
  text-align: right;
  color: #ffffff;
}
.navbar-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.navbar-contacts {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
.home {
  margin-top: 75px;
}
#choice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 122px;

  position: relative;
}
.choice-floor {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.see-flats {
  width: 297px;
  height: 51px;

  background: #3596f5;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  cursor: pointer;
}
h2 {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  margin-top: 67px;
  text-transform: uppercase;
  color: #635854;
}
.counter {
  font-family: "Bebas Neue", sans-serif;
  color: #635854;
  font-size: 124px;
}
.counter-button {
  cursor: pointer;
}
.footer {
  border-top: 4px solid #3596f5;
  padding-top: 48px;
}
.footer-contacts {
  margin-right: 64px;
  margin-left: 39px;
}
#footer {
  display: flex;
  align-items: center;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background-color: #fff;
  border: none;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}
